<!--
  File Name: content.ejs
  Student Name: Ting Hin CHUNG
  Student ID: 301287013
  Date: 26th Sept 2022
-->
<!-- The main part of this project.
   Defining the major layout template and ready for injecting other ejs page in to main content section -->
<!DOCTYPE html>
<html>
  <!-- Including the header part -->
  <%- include('header') %>
  <body>
    <!-- Navigation bar -->
    <%- include('nav') %>
    <!-- The main content. The path is dynamic inject by passing the path from routing js file -->
    <%- include(content_path) %>
    <!-- Footer. Just a copyright declaration -->
    <%- include('footer') %>
  </body>
</html>
