<!DOCTYPE html>
<html>
  <head>
    <title><%= typeof title != 'undefined'?title:'Contact Me' %></title>
  </head>
  <body>
    <%- include('partial/nav') %>

    <h4 style="text-align: center">Contact me</h4>
    <hr />
    <table align="center">
      <tr>
        <td>e-mail</td>
        <td>chungtinghin1995@gmail.com</td>
      </tr>
      <tr>
        <td>Mobile</td>
        <td>+1 (647) 641-8581</td>
      </tr>
      <tr>
        <td>Mailing Address</td>
        <td>
          503C, 937 Progress Ave.<br />
          Scarborough, Ontario
        </td>
      </tr>
    </table>
    <hr />
    <form action="/sendMsg" method="post">
      <h5>
        Do you have any question? Just directly find me by fill in the following
        form!
      </h5>
      <table>
        <tr>
          <td>Your name:</td>
          <td><input type="text" id="name" name="name" /></td>
        </tr>
        <tr>
          <td>Your email address:</td>
          <td><input type="text" id="email" name="email" /></td>
        </tr>
        <tr>
          <td>Your opinion:</td>
          <td>
            <textarea
              id="detail"
              name="detail"
              placeholder="Write something..."
            ></textarea>
          </td>
        </tr>
        <tr>
          <td><input type="submit" value="Submit" /></td>
        </tr>
      </table>
    </form>
  </body>
</html>
