<!DOCTYPE html>
<html>
  <head>
    <title><%= typeof title != 'undefined'?title:'Default Dummy Page' %></title>
  </head>
  <body>
    <%- include('partial/header') %>
    <hr />
    DUMMY PAGE NO CONTENT
    <%- include('partial/footer') %>
  </body>
</html>
