<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <%- include('partial/nav') %>
    <h1>Welcome To My Portfolio</h1>
    <hr />
    <h4 style="font-style: oblique;">A step ahead to future by technology</h4>
    <br />
    This is a web site to show <a href="/about">my information.</a> Any
    suggestion / problem?
    <a href="/contact">Just find me!</a>
  </body>
</html>
