<!DOCTYPE html>
<html>
  <head>
    <title>Message sent!</title>
    <script>
      alert(
        "Message sent to me! I will check it! Thanks you " +
          "<%= senderName %>" +
          "\nYou will be redirect to homepage now"
      );
      window.location.replace("/");
    </script>
  </head>
</html>
