<!DOCTYPE html>
<html>
  <head>
    <title><%= typeof title != 'undefined'?title:'Services' %></title>
  </head>
  <body>
    <%- include('nav') %>
    <h4>Services</h4>
    The services involved
    <hr />
    <table align="center">
      <tr>
        <th>During</th>
        <th>Services</th>
        <th>Duty</th>
      </tr>
      <tr>
        <td>Feb 2019 - Jul 2022</td>
        <td>Analysis/Programmer</td>
        <td>
          Supporting on Revamp project, mainly on code reviewing and functional
          enhancement.
        </td>
      </tr>
      <tr>
        <td>Dec 2016 - Jan 2019</td>
        <td>Programmer</td>
        <td>
          Developing an Inventory management system. Main duty is to implement
          the design, but also experienced on gathering user requirements,
          designing and testing.
        </td>
      </tr>
      <tr>
        <td>Jan 2016 - Apr 2016</td>
        <td>Project owner</td>
        <td>
          Creating a project on using haptic sense to interact with the virtual
          world.
        </td>
      </tr>
      <tr>
        <td>Aug 2014 - Apr 2015</td>
        <td>Programmer</td>
        <td>Creating a web application including third party API.</td>
      </tr>
      <tr>
        <td>Jan 2014 - Aug 2014</td>
        <td>Programmer</td>
        <td>
          Creating a website for an organization to show the albums and
          e-newsletter
        </td>
      </tr>
    </table>
  </body>
</html>
