<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <img src="/images/logo.png" width="50" />
  <a class="navbar-brand"
    ><%= typeof title != 'undefined'?title:'My Portfolio' %></a
  >
  <span style="border-left: 2px solid ; height: 50px"></span>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="/">HOME</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/about">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/projects">Projects</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/services">Services</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/contact">Contact</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" 
      href=<%= typeof currentDisplayname != 'undefined'?'/auth/logout':'/auth/login' %>
      ><%= typeof currentDisplayname != 'undefined'?'Logout':'Login' %></a>
    </li>
  </ul>
</nav>

<hr />
